<?xml version="1.0" encoding="utf-8"?>
<Randomevents>
  <EventSprites>
    <Sprite identifier="hes" texture="%ModDir%/TL部门/hes.png" sourcerect="0,0,640,640" origin="0.5,0.5" />
    <Sprite identifier="TL" texture="%ModDir%/TL部门/TL.png" sourcerect="0,0,1024,1024" origin="0.5,0.5" />
    <Sprite identifier="TL2" texture="%ModDir%/TL部门/TL2.png" sourcerect="0,0,1024,1024" origin="0.5,0.5" />
    <Sprite identifier="HX" texture="%ModDir%/TL部门/HX.png" sourcerect="0,0,912,921" origin="0.5,0.5" />
  </EventSprites>
  <EventPrefabs>
    <ScriptedEvent identifier="TL1" commonness="100">
      <TagAction criteria="player" tag="player" />
      <SpawnAction npcsetidentifier="TLnpc" npcidentifier="TLnpc1" targettag="TLnpc1" spawnlocation="Outpost" targetmoduletags="airlock" />
      <TriggerAction target1tag="TLnpc1" target2tag="player" applytotarget2="triggerer_player" radius="200" waitforinteraction="true" />
      <ConversationAction text="你好，我是泰拉集团战斗部门负责人吸管，我这里有一些琐事处理不过来，如果你愿意帮忙那可太好了，当然报酬少不了你的...（由于处于测试阶段，所以可以从吸管获取所有任务，包含终结任务和反派等）" targettag="triggerer_player" eventsprite="TL">
        <Option text="我们很荣幸帮忙">
          <ConversationAction text="非常好，我会担任你们的远程指挥官，请保持连线畅通" targettag="triggerer_player" />
          <MissionAction missionidentifier="hunting" />
          <MissionAction missiontag="TLhaidao" />
          <MissionAction missionidentifier="TLceshiji" />
          <MissionAction missionidentifier="TLhunting" />
          <MissionAction missionidentifier="mudraptors" />
          <MissionAction missionidentifier="TLattack1" />
          <MissionAction missionidentifier="TLrescue1" />
          <!--联盟-->
          <MissionAction missionidentifier="TLhaidao3" />
        </Option>
      </ConversationAction>
      <NPCWaitAction npctag="TLnpc1" wait="true" />
    </ScriptedEvent>
    <ScriptedEvent identifier="TL2" commonness="100">
      <TagAction criteria="player" tag="player" />
      <SpawnAction npcsetidentifier="TLnpc" npcidentifier="TLnpc2" targettag="TLnpc2" spawnlocation="Outpost" targetmoduletags="airlock" />
      <Label name="xiangqing" />
      <NPCWaitAction npctag="TLnpc2" wait="true" />
      <TriggerAction target1tag="TLnpc2" target2tag="player" applytotarget2="triggerer_player" radius="200" waitforinteraction="true" />
      <ConversationAction targettag="triggerer_player" text="你好...？我是泰拉集团总负责人，有什么事情吗？" eventsprite="TL2">
        <Option text="介绍一下你们集团...？">
          <ConversationAction targettag="triggerer_player" text="泰拉科技，木卫二上新兴的科技公司，手握强大的科技力量，人数没有很多，大多数设施和武装由人工智能控制，这破联盟站点我是一点不想来...垃圾堆一样...还想了解一些什么？" eventsprite="TL">
            <Option text="集团研发部门">
              <ConversationAction text="呦呵？对研发部感兴趣？研发部负责管理公司的所有实物材料。研发部还负责安置与治疗各种生物。因此该部门的员工常常待在公司应对着某些东西，久而久之他们的内心都缺失了一大块..." targettag="triggerer_player" />
              <ClearTagAction tag="triggerer_player" />
              <GoTo name="xiangqing" />
            </Option>
            <Option text="集团安保部门">
              <ConversationAction text="安保部人数并不多，是一个负责将新兵蛋子训练成全能安保人员，对潜在事故进行预测并制定作战方案的部门。他们详细制定了针对自然灾害，恐怖袭击，收容失效，员工恐慌等各种突发事件的作战方案和安保条例。他们拥有最尖端的武器装备，你们这些呆瓜能不能胜任也不好说哦" targettag="triggerer_player" />
              <ClearTagAction tag="triggerer_player" />
              <GoTo name="xiangqing" />
            </Option>
            <Option text="集团工程部门">
              <ConversationAction text="工程部负责集团造物制造与设施建设，掌控集团重要站点。拥有数支武德充沛的“工程舰队”。近期工程部的队伍活跃于冰层之上，除了重建冰面设施，工程部似乎在回收一些曾属于集团的物品。" targettag="triggerer_player" />
              <ClearTagAction tag="triggerer_player" />
              <GoTo name="xiangqing" />
            </Option>
            <Option text="关于神秘的'幻星'？">
              <ConversationAction text="嘘……这个可不能在大庭广众之下说这个……据说幻星原本应该是联盟新创立的工业集团。但是就在交接文件的前一天，负责这个项目的负责人被发现在家里喝酒喝死了……很微妙？对吧？最关键的是联盟不知道怎么整的，就把幻星直接甩给了一群不知道来历的陌生人……总之现在幻星隐约开始脱离联盟的掌控，要是你运气实在差的不行没准还能在某个站点里看到他们的人呢" eventsprite="HX" targettag="triggerer_player" />
              <ClearTagAction tag="triggerer_player" />
              <GoTo name="xiangqing" />
            </Option>
            <Option text="呃...不用了">
              <ConversationAction text="好吧，你们最好别为联盟卖命了，你们应该看得清到底谁才能给你们未来" targettag="triggerer_player" />
              <ClearTagAction tag="triggerer_player" />
              <GoTo name="xiangqing" />
            </Option>
          </ConversationAction>
        </Option>
        <Option text="呃...不用了">
          <ConversationAction text="好吧，你们最好别傻愣愣的给联盟卖命了，你们应该看得清到底谁才能给你们未来" dialogtype="Small" targettag="triggerer_player" />
          <ClearTagAction tag="triggerer_player" />
          <GoTo name="xiangqing" />
        </Option>
      </ConversationAction>
      <NPCWaitAction npctag="TLnpc2" wait="true" />
    </ScriptedEvent>
  </EventPrefabs>
  <EventSet identifier="outpostTL" leveltype="outpost" locationtype="outpost,city,research,military,mine,colony,settlement,construction,camp,base,blockade,survey,excavation,study,lab,clinic,hospital,surgery,hydroponics,biosphere,nourishment,factory,shipyard,fusion" allowatstart="true" minleveldifficulty="0" maxleveldifficulty="100" chooserandom="false" ignorecooldown="true" additive="true" commonness="120">
    <EventSet identifier="outpostTLNpc1" minleveldifficulty="0" maxleveldifficulty="100" allowatstart="true" chooserandom="true" onceperoutpost="true">
      <ScriptedEvent identifier="TL1" commonness="25" />
    </EventSet>
    <EventSet identifier="outpostTLNpc2" minleveldifficulty="0" maxleveldifficulty="100" allowatstart="true" chooserandom="true" onceperoutpost="true">
      <ScriptedEvent identifier="TL2" commonness="25" />
    </EventSet>
  </EventSet>
</Randomevents>